<div class="flex justify-between flex-col h-full">
  <ng-container
    *ngTemplateOutlet="
      topBotSectionTemp;
      context: {
        clock: playerService.blackPlayerClock,
        pieces: playerService.blackPlayerCapturedPieces,
        color: 'b',
      }
    "
  >
  </ng-container>

  <div class="flex h-full justify-between">
    <div class="w-1/4 md:w-1/5 lg:w-1/2"></div>
    <app-board class="w-full"></app-board>
    <div class="w-1/4 md:w-1/5 lg:w-1/2 flex justify-evenly">
      <div
        class="flex flex-col justify-between items-center invisible md:visible flex-grow-0"
      >
        <ng-container
          *ngTemplateOutlet="
            clockPiecesTemp;
            context: {
              color: 'b',
              clock: playerService.blackPlayerClock,
              pieces: playerService.blackPlayerCapturedPieces,
            }
          "
        ></ng-container>
        <ng-container
          *ngTemplateOutlet="
            clockPiecesTemp;
            context: {
              color: 'w',
              clock: playerService.whitePlayerClock,
              pieces: playerService.whitePlayerCapturedPieces,
            }
          "
        ></ng-container>
      </div>
    </div>
  </div>

  <ng-container
    *ngTemplateOutlet="
      topBotSectionTemp;
      context: {
        clock: playerService.whitePlayerClock,
        pieces: playerService.whitePlayerCapturedPieces,
        color: 'w',
      }
    "
  >
  </ng-container>
</div>

@if (isOverlayVisible) {
  <div class="overlay">
    <div class="bg-white p-8 rounded-lg shadow-lg flex">
      @for (piece of promotionPieces; track piece) {
        <div
          class="cursor-pointer mx-5 hover:scale-125 duration-150"
          (click)="onPieceSelected(piece)"
        >
          <img
            [src]="themeService.getPiecePath(piece)"
            [alt]="piece.name"
            class="w-10 h-10 md:w-24 md:h-24 object-cover"
          />
        </div>
      }
    </div>
  </div>
}

<ng-template
  #topBotSectionTemp
  let-clock="clock"
  let-pieces="pieces"
  let-color="color"
>
  <div class="h-full flex items-center md:h-[10%] lg:h-[1%]">
    <div
      [ngClass]="[
        color === 'w' ? 'self-start' : 'self-end',
        'flex my-2 ml-14 md:hidden',
      ]"
    >
      <app-clock [clock]="clock"></app-clock>

      <!-- Captured pieces -->
      <div
        [matBadge]="playerService.pointsDiff(color)"
        matBadgeSize="large"
        matBadgePosition="above after"
        matBadgeOverlap="false"
        class="grid grid-cols-9 ml-2 bg-slate-700 rounded"
      >
        @for (piece of pieces; track piece) {
          <img
            [src]="themeService.getPiecePath(piece)"
            alt="chessPiece"
            class="w-5 h-5 inline"
          />
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #clockPiecesTemp
  let-clock="clock"
  let-pieces="pieces"
  let-color="color"
>
  <div>
    @if (color === 'b') {
      <app-clock [clock]="clock"></app-clock>
    }
    <div
      [matBadge]="playerService.pointsDiff(color)"
      matBadgeSize="large"
      matBadgePosition="before"
      class="grid grid-cols-5 my-3 bg-slate-700 rounded-lg"
    >
      @for (piece of pieces; track piece) {
        <img
          [src]="themeService.getPiecePath(piece)"
          alt="chessPiece"
          class="w-10 h-10 inline"
        />
      }
    </div>

    @if (color === 'w') {
      <app-clock [clock]="clock"></app-clock>
    }
  </div>
</ng-template>
